<h1>Welcome to Coin Combinations</h1>
<form action="/coin_combo">
  <div class="form-group">
    <label for="coin">Please enter a whole number to determine smallest number of quarters, dimes, nickels and pennies for exchange.</label>
    <input id="coin" name="coin" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-success">Go!</button>
</form>
